@model myDiscogs.Models.Inventory.PaginatedItems

@{
    ViewBag.Title = "Index";
    var totalPages = Model.Pagination.Pages;
    var currentPage = Model.Pagination.Page;
}

<h2>@Model.Pagination.Items sold items</h2>
@if (totalPages > 1)
{
    <p>page @Model.Pagination.Page of @Model.Pagination.Pages</p>
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th></th>
        <th>
            Artist
        </th>
        <th>
            Title
        </th>
        <th>
            Format
        </th>
        <th>
            Label
        </th>
        <th>
            CatNo
        </th>
        <th>
            Year
        </th>
        <th>
            Price sold
        </th>
    </tr>

    @foreach (var item in Model.Listings)
    {
        var year = item.Release.Year.ToString() == "0" ? "N/A" : item.Release.Year.ToString();
        <tr>
            <td>
                <img src="@item.Release.Thumbnail" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release.Format)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release.CatalogNumber)
            </td>
            <td>
                @year
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price.Value)€
            </td>
        </tr>
    }

</table>

<ul class="pagination">
    @if (totalPages > 1)
    {
        if (currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1 })">Previous  </a>
            </li>
        }

        for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i     </a>
            </li>
        }

        if (currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1 })">Next</a>
            </li>
        }
    }
</ul>