@model IEnumerable<myDiscogs.Models.Inventory.Listing>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResourceUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SleeveCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipsFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowOffers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Audio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalShippingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InCart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormatQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExternalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SleeveCondition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipsFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowOffers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Audio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalShippingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InCart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormatQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExternalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
