@model myDiscogs.Models.Orders.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResourceUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessagesUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessagesUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Archived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInstructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInstructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tracking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tracking)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
