@model myDiscogs.Models.Inventory.PaginatedItems

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Pagination.Items items for sale</h2>
@if (Model.Pagination.Pages > 1)
{
    <p>page @Model.Pagination.Page of @Model.Pagination.Pages</p>
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th></th>
        <th>
            Artist
        </th>
        <th>
            Title
        </th>
        <th>
            Format
        </th>
        <th>
            Label
        </th>
        <th>
            CatNo
        </th>
        <th>
            Year
        </th>
        <th>
            Price sold
        </th>
    </tr>

    @foreach (var item in Model.Listings)
    {
        var year = item.Release.Year.ToString() == "0" ? "N/A" : item.Release.Year.ToString();
        <tr class="align-middle">
            <td>
                <img src="@item.Release.Thumbnail" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release.Format)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release.CatalogNumber)
            </td>
            <td>
                @year
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price.Value)€
            </td>
        </tr>
    }

</table>

@{
    if (Model.Pagination.Pages > 1)
    {
        @Html.Partial("_Pagination")
    }
}