@model myDiscogs.Models.Wantlist.PaginatedWantlist

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Pagination.Items items I want</h2>
@if (Model.Pagination.Pages > 1)
{
    <p>page @Model.Pagination.Page of @Model.Pagination.Pages</p>
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-hover table-striped">
    <tr>
        <th></th>
        <th>
            Artist
        </th>
        <th>
            Title
        </th>
        <th>
            Format
        </th>
        <th>
            Label
        </th>
        <th>
            CatNo
        </th>
        <th>
            Year
        </th>
        <th>
            Genre
        </th>
        <th>
            Style
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model.Wants)
    {

        
        var releasePage = "https://www.discogs.com/release/" + item.BasicInformation.Id + "-"
            +item.BasicInformation.Artists[0].Name.Replace(" ", "-") + "-" + item.BasicInformation.Title.Replace(" ", "-");
        var year = item.BasicInformation.Year.ToString() == "0" ? "N/A" : item.BasicInformation.Year.ToString();

        var format = item.BasicInformation.Formats[0].Name;
        foreach (var description in item.BasicInformation.Formats[0].Descriptions)
        {
            format += ", " + description;
        }

        var genres = "N/A";
        if (item.BasicInformation.Genres.Count > 0)
        {
            genres = item.BasicInformation.Genres[0];
            for (int i = 1; i < item.BasicInformation.Genres.Count; i++)
            {
                genres += ", " + item.BasicInformation.Genres[i];
            }
        }

        var styles = "N/A";
        if (item.BasicInformation.Styles.Count > 0)
        {
            styles = item.BasicInformation.Styles[0];
            for (int i = 1; i < item.BasicInformation.Styles.Count; i++)
            {
                styles += ", " + item.BasicInformation.Styles[i];
            }
        }

        <tr class="align-middle">
            <td>
                <a href="@releasePage" target="_blank" title="Discogs Release Page"><img src="@item.BasicInformation.Thumb" alt="@item.BasicInformation.Title"></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInformation.Artists[0].Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInformation.Title)
            </td>
            <td>
                @format
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInformation.Labels[0].Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInformation.Labels[0].Catno)
            </td>
            <td>
                @year
            </td>
            <td>
                @genres
            </td>
            <td>
                @styles
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>*@
        </tr>
    }

</table>

@{ 
    if (Model.Pagination.Pages > 1)
    {
        @Html.Partial("_Pagination")
    }
}